:root {
    --size: 32px;
    --grid-width: 10;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(var(--grid-width), 1fr);
}

.block {
    min-width: var(--size);
    min-height: var(--size);
    padding: 5px;
    text-align: center;
}

.block.filled {
    border: 1px solid #B97A57;
    background-color: #FCEDBE;
}

.block.hidden {
    background-color: #FEF8E2;
    border: 1px solid #000a;
}

.option {
    background-color: blue;
    border: 1px solid #000a;
    color: white;
}